.tracklisting {
  font-size: 16px;
  padding-top: 10px;
}
.tracklisting ul {
  list-style-type: none;

}
.tracklisting ul li{
  display: block;
  line-height: 30px;

}
.tracklisting ul li div{
  display: inline;
}
.col-sm-3 span{
  padding-right: 10px;
  float: right;
}

.tracklisting ul li button{
  line-height: 1;
}
